
<div class="col-md-5 m-2 p-2 text-left border border-secondary shadow ">
    <div class="row">
        <div class="col-sm-9">
            <h3><a href="/job/{{job.id}}">{{job.job_title.title}}</a></h3>
        </div>
        <div class="col-sm-3 text-right">
            {% if job in user.job_likes.all %}
            <a class="likebutton  pr-1" name="Reset" style="cursor: pointer;" id="like{{job.id}}"  data-catid="{{job.id}}"><i class="bi bi-hand-thumbs-up-fill"></i></a><span>|</span>
            {% else %}
            <a class="likebutton  pr-1" name="Like" style="cursor: pointer;" id="like{{job.id}}"  data-catid="{{job.id}}"><i class="bi bi-hand-thumbs-up"></i></a><span>|</span>
            {% endif %}
            <a class="dislikebutton" name="Dislike" style="cursor: pointer;" id="dislike{{job.id}}" data-catid="{{job.id}}"><i class="bi bi-hand-thumbs-down"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h6>Company: {{job.company}}</h6>
        </div>
        <div class="col">
            {% if job.salary_max %}
            <h6 class="text-secondary"><em>Salary: {% if job.salary_min %}${{ job.salary_min }}-{% endif %}${{ job.salary_max }}</em></h6>
            {% endif %}
        </div>
    </div>
    
    <p>Location: {{job.location}}</p>
    <p>Posted on: {{ job.post_date }}</p>
    <a class="text-info mb-4" href="{{job.job_url}}" target="_blank">Indeed Link</a>
    <p>Summary:</p>
    <ul>
        {% for line in job.summary %}
        <li>{{ line }}</li>
        {% endfor %}
    </ul>
    <div class="row">
        <div class="col text-right m-2">
            
        </div>
    </div>
</div>
