<nav class="col-md-2 d-none d-md-block bg-light sidebar text-left">
    <div class="sidebar-sticky">
        <ul class="nav flex-column mt-5">
            <li class="nav-item">
                <a class="nav-link active" id="home_flush" href="/job">
                    <span data-feather="briefcase"></span>
                    Job Search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="home"></span>
                    Job Information 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Apply to Jobs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="calendar"></span>
                    Job History
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Friends
                </a>
            </li>
        </ul>
    </div>
</nav>